In [53]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import ensemble as em
from sklearn import linear_model as lm
from sklearn.cross_validation import train_test_split as tts
import pandas as pd
from sklearn.preprocessing import Imputer

In [2]:
from collections import Counter
#used to find frequency in the list

In [3]:
train = pd.read_csv('TrainB.csv')
test = pd.read_csv('TestB.csv')
test.isnull().sum()
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# DATA PREPROCESSING

In [4]:
median_value_tr= train['Outlet_Size'].median()
train['Outlet_Size'] = train['Outlet_Size'].fillna(median_value_tr)
median_value1_tr= train['Item_Weight'].median()
train['Item_Weight'] = train['Item_Weight'].fillna(median_value1_tr)

In [5]:
median_value2_tr= test['Item_Weight'].median()
test['Item_Weight'] = test['Item_Weight'].fillna(median_value2_tr)
median_value_te= test['Outlet_Size'].median()
test['Outlet_Size'] = test['Outlet_Size'].fillna(median_value_te)

In [6]:
print(train.shape)
print(test.shape)

(8523, 11)
(5681, 10)

In [7]:
train.isnull().sum()
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [8]:
tr_x = train.iloc[0:8523,1:10]
te_x = test.iloc[0:5681,1:10]
tr_y = train.iloc[0:8523,10]
print(tr_y.head())
Counter(tr_x.Outlet_Type)
print(tr_x.head())

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64
   Item_Weight  Item_Fat_Content  Item_Visibility              Item_Type  \
0         9.30                 1         0.016047                  Dairy
1         5.92                 0         0.019278            Soft Drinks
2        17.50                 1         0.016760                   Meat
3        19.20                 0         0.000000  Fruits and Vegetables
4         8.93                 1         0.000000              Household

   Item_MRP  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  \
0  249.8092                       1999          2.0                     1
1   48.2692                       2009          2.0                     3
2  141.6180                       1999          2.0                     1
3  182.0950                       1998          2.0                     3
4   53.8614                       1987          3.0                     3

         Outlet_Type
0  Supermarket Type1
1  Supermarket Type2
2  Supermarket Type1
3      Grocery Store
4  Supermarket Type1

In [9]:
#function to replace missing values
def transcore(x):
    if x == "Baking Goods":
        return 0
    if x == "Breads":
        return 1
    if x == "Break fast":
        return 2
    if x == "Canned":
        return 3
    if x == "Dairy":
        return 4
    if x == "Frozen Foods":
        return 5
    if x == "Fruits and Vegetables":
        return 6
    if x == "Hard Drinks":
        return 7
    if x == "Health and Hygiene":
        return 8
    if x == "Household":
        return 9
    if x == "Meat":
        return 10
    if x == "Others":
        return 11
    if x == "Seafood":
        return 12
    if x == "Snack Foods":
        return 13
    if x == "Soft Drinks":
        return 14
    if x == "Starchy Foods":
        return 15
    if x == " ":
        return 16

In [10]:
tr_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [11]:
def groupscore(x):
    if x == "Grocery Store":
        return 0
    if x == "Supermarket Type1":
        return 1
    if x == "Supermarket Type2":
        return 2
    if x == "Supermarket Type3":
        return 3

In [12]:
tr_x['New_Type'] = tr_x['Item_Type'].apply(transcore)
#axis=1 indicates column while axis=0 indicates row
tr_x.drop('Item_Type', axis=1,inplace=True)
te_x['New_Type'] = te_x['Item_Type'].apply(transcore)
te_x.drop('Item_Type', axis=1,inplace=True)
#inplace=True defines that drop operation should take place
#inplace=True defines that drop operation should take place

In [13]:
#ensuring that all data are pre-processed for mathematical applications
print(tr_x.dtypes)
print(te_x.dtypes)

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
New_Type                     float64
dtype: object
Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
New_Type                     float64
dtype: object

In [14]:
#checking missing values in a dataframe
print(te_x.isnull().sum())
print(tr_x.isnull().sum())

Item_Weight                   0
Item_Fat_Content              0
Item_Visibility               0
Item_MRP                      0
Outlet_Establishment_Year     0
Outlet_Size                   0
Outlet_Location_Type          0
Outlet_Type                   0
New_Type                     76
dtype: int64
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_MRP                       0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
New_Type                     110
dtype: int64

In [15]:
tr_x['Market_Type'] = tr_x['Outlet_Type'].apply(groupscore)
#axis=1 indicates column while axis=0 indicates row
tr_x.drop('Outlet_Type', axis=1,inplace=True)
te_x['Market_Type'] = te_x['Outlet_Type'].apply(groupscore)
te_x.drop('Outlet_Type', axis=1,inplace=True)

In [16]:
print(tr_x.isnull().sum())
print(te_x.isnull().sum())

Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_MRP                       0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
New_Type                     110
Market_Type                    0
dtype: int64
Item_Weight                   0
Item_Fat_Content              0
Item_Visibility               0
Item_MRP                      0
Outlet_Establishment_Year     0
Outlet_Size                   0
Outlet_Location_Type          0
New_Type                     76
Market_Type                   0
dtype: int64

# USING MEDIAN VALUES TO FILLNA IN NEW_TYPE

In [17]:
tr_x['New_Type']=tr_x['New_Type'].fillna(tr_x['New_Type'].median())
te_x['New_Type']=te_x['New_Type'].fillna(te_x['New_Type'].median())

In [18]:
tr_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [19]:
tr_x.shape

(8523, 9)

In [20]:
tr_y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [21]:
tr_y.shape

(8523,)

# Checking Dimensionality and missing values

In [22]:
tr_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [23]:
te_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [54]:
re = em.BaggingRegressor()

# MATHEMATICAL MODELLING

In [55]:
re.fit(tr_x,tr_y)

BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [58]:
pred = re.predict(te_x)

In [59]:
Item_Outlet_Sales = pred

In [60]:
#Sales is predicted and given as output in Outlet_sales
Item_Outlet_Sales

array([1820.963  , 1042.57622,  660.40702, ..., 1853.32088, 4707.47232,
       1430.07182])

# EXPORTING CSV

In [61]:
Submit = pd.read_csv("SS.csv")

In [62]:
print(Submit.columns)
Submit.head()
Submit.shape

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'], dtype='object')

(5681, 3)

In [63]:
Final = Submit.iloc[0:5681,0:2]
Final.head(2)

  Item_Identifier Outlet_Identifier
0           FDW58            OUT049
1           FDW14            OUT017

In [64]:
Sales = pd.DataFrame({'Item_Identifier':Final.Item_Identifier.values,'Item_Outlet_Sales':Item_Outlet_Sales,'Outlet_Identifier':Final.Outlet_Identifier.values})
Sales

     Item_Identifier  Item_Outlet_Sales Outlet_Identifier
0              FDW58         1820.96300            OUT049
1              FDW14         1042.57622            OUT017
2              NCN55          660.40702            OUT010
3              FDQ58         2705.34514            OUT017
4              FDY38         6069.56596            OUT027
5              FDH56         2428.03944            OUT046
6              FDL48          617.39634            OUT018
7              FDC48         1431.13710            OUT027
8              FDN33         1026.99650            OUT045
9              FDA36         1852.38876            OUT017
10             FDT44         1324.40936            OUT017
11             FDQ56         1803.91852            OUT045
12             NCC54          732.44658            OUT019
13             FDU11         1687.27036            OUT049
14             DRL59          912.34574            OUT013
15             FDM24         2934.84640            OUT049
16             FDI57         3529.53896            OUT045
17             DRC12         3245.64184            OUT018
18             NCM42         3938.47332            OUT027
19             FDA46          367.25528            OUT010
20             FDA31         2742.49678            OUT013
21             NCJ31         3344.31340            OUT035
22             FDG52          760.27702            OUT046
23             NCL19          385.69794            OUT019
24             FDS10         3372.87622            OUT035
25             FDX22          874.92778            OUT010
26             NCF19          781.44946            OUT035
27             NCE06         2148.40344            OUT046
28             DRC27         3999.19428            OUT046
29             FDE21         2014.64422            OUT035
...              ...                ...               ...
5651           FDD23         4186.41724            OUT013
5652           FDP32         1465.55896            OUT045
5653           FDO31         1461.43100            OUT035
5654           FDQ57         2925.85810            OUT013
5655           FDX32         3753.11460            OUT027
5656           FDC39         5531.46640            OUT027
5657           FDU55         4360.92342            OUT046
5658           FDL45         2701.28376            OUT013
5659           DRK37         3966.90298            OUT049
5660           FDK22         2763.00342            OUT013
5661           DRG37         5249.83300            OUT027
5662           FDK22         3792.19706            OUT017
5663           DRH36          960.48308            OUT018
5664           DRC36         2306.86384            OUT018
5665           DRE03          851.89110            OUT027
5666           FDF34         2411.32786            OUT046
5667           FDZ22         1809.24492            OUT046
5668           FDC44          337.22770            OUT010
5669           FDN31         5749.38274            OUT027
5670           FDO03         4281.82638            OUT017
5671           FDA01          809.27990            OUT049
5672           NCH42         5757.37234            OUT049
5673           FDF46         1563.49814            OUT018
5674           DRL35          717.00002            OUT046
5675           FDW46         1132.25948            OUT049
5676           FDB58         2552.61062            OUT046
5677           FDD47         1998.86476            OUT018
5678           NCO17         1853.32088            OUT045
5679           FDJ26         4707.47232            OUT017
5680           FDU37         1430.07182            OUT045

[5681 rows x 3 columns]

In [67]:
Sales.to_csv("Martsales.csv", encoding='utf-8')

# End of Program