In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import ensemble as em
from sklearn import linear_model as lm
from sklearn.cross_validation import train_test_split as tts
import pandas as pd

C:\Users\Vishnu\Anaconda3\envs\py35\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
from collections import Counter
#used to find frequency in the list

In [8]:
a = np.array([1,3,4,6])
a
sum_1 = 0
for i in range(len(a)):
    sum_1 a[i]

In [5]:
train = pd.read_csv('TrainB.csv')
test = pd.read_csv('TestB.csv')
test.isnull().sum()
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
sum_1

6

# DATA PREPROCESSING

In [6]:
print(np.mean(train.Item_Weight))
print(np.mean(train.Outlet_Size))
print(np.mean(test.Item_Weight))
print(np.mean(test.Outlet_Size))

12.857645184136183
1.7618190741043678
12.695633368756374
1.761717791411043

In [7]:
train = train.interpolate(method='slinear')
test = test.interpolate(method='slinear')

In [8]:
print(train.shape)
print(test.shape)

(8523, 11)
(5681, 10)

In [9]:
tr_x = train.iloc[0:8523,1:10]
te_x = test.iloc[0:5681,1:10]
tr_y = train.iloc[0:8523,10]
print(tr_y.head())
Counter(tr_x.Outlet_Type)
print(tr_x.head())

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64
   Item_Weight  Item_Fat_Content  Item_Visibility              Item_Type  \
0         9.30                 1         0.016047                  Dairy
1         5.92                 0         0.019278            Soft Drinks
2        17.50                 1         0.016760                   Meat
3        19.20                 0         0.000000  Fruits and Vegetables
4         8.93                 1         0.000000              Household

   Item_MRP  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  \
0  249.8092                       1999          2.0                     1
1   48.2692                       2009          2.0                     3
2  141.6180                       1999          2.0                     1
3  182.0950                       1998          2.5                     3
4   53.8614                       1987          3.0                     3

         Outlet_Type
0  Supermarket Type1
1  Supermarket Type2
2  Supermarket Type1
3      Grocery Store
4  Supermarket Type1

In [10]:
te_x.Outlet_Size.fillna('ffill')

0           2
1           2
2           2
3           2
4           2
5           1
6           2
7           2
8         1.8
9         1.6
10        1.4
11        1.2
12          1
13          2
14          3
15          2
16          2
17          2
18          2
19        2.5
20          3
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
        ...
5651        3
5652        2
5653        1
5654        3
5655        2
5656        2
5657        1
5658        3
5659        2
5660        3
5661        2
5662        2
5663        2
5664        2
5665        2
5666        1
5667        1
5668      1.5
5669        2
5670        2
5671        2
5672        2
5673        2
5674        1
5675        2
5676        1
5677        2
5678    ffill
5679    ffill
5680    ffill
Name: Outlet_Size, Length: 5681, dtype: object

In [11]:
#function to replace missing values
def transcore(x):
    if x == "Baking Goods":
        return 0
    if x == "Breads":
        return 1
    if x == "Break fast":
        return 2
    if x == "Canned":
        return 3
    if x == "Dairy":
        return 4
    if x == "Frozen Foods":
        return 5
    if x == "Fruits and Vegetables":
        return 6
    if x == "Hard Drinks":
        return 7
    if x == "Health and Hygiene":
        return 8
    if x == "Household":
        return 9
    if x == "Meat":
        return 10
    if x == "Others":
        return 11
    if x == "Seafood":
        return 12
    if x == "Snack Foods":
        return 13
    if x == "Soft Drinks":
        return 14
    if x == "Starchy Foods":
        return 15
    if x == " ":
        return 16

In [12]:
tr_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [13]:
def groupscore(x):
    if x == "Grocery Store":
        return 0
    if x == "Supermarket Type1":
        return 1
    if x == "Supermarket Type2":
        return 2
    if x == "Supermarket Type3":
        return 3

In [14]:
print(tr_x.dtypes)
print(te_x.dtypes)

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
dtype: object
Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
dtype: object

In [15]:
tr_x['New_Type'] = tr_x['Item_Type'].apply(transcore)
#axis=1 indicates column while axis=0 indicates row
tr_x.drop('Item_Type', axis=1,inplace=True)
te_x['New_Type'] = te_x['Item_Type'].apply(transcore)
te_x.drop('Item_Type', axis=1,inplace=True)
#inplace=True defines that drop operation should take place
#inplace=True defines that drop operation should take place

In [16]:
#ensuring that all data are pre-processed for mathematical applications
print(tr_x.dtypes)
print(te_x.dtypes)

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
New_Type                     float64
dtype: object
Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
Outlet_Type                   object
New_Type                     float64
dtype: object

In [17]:
#checking missing values in a dataframe
print(te_x.isnull().sum())
print(tr_x.isnull().sum())

Item_Weight                   0
Item_Fat_Content              0
Item_Visibility               0
Item_MRP                      0
Outlet_Establishment_Year     0
Outlet_Size                   3
Outlet_Location_Type          0
Outlet_Type                   0
New_Type                     76
dtype: int64
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_MRP                       0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
New_Type                     110
dtype: int64

In [18]:
te_x = te_x.interpolate()
tr_x = tr_x.interpolate()

In [19]:
tr_x['Market_Type'] = tr_x['Outlet_Type'].apply(groupscore)
#axis=1 indicates column while axis=0 indicates row
tr_x.drop('Outlet_Type', axis=1,inplace=True)
te_x['Market_Type'] = te_x['Outlet_Type'].apply(groupscore)
te_x.drop('Outlet_Type', axis=1,inplace=True)

In [20]:
print(tr_x.isnull().sum())
print(te_x.isnull().sum())

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [21]:
tr_x.dtypes
te_x.dtypes

Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                  float64
Outlet_Location_Type           int64
New_Type                     float64
Market_Type                    int64
dtype: object

In [22]:
tr_x.shape

(8523, 9)

In [23]:
tr_y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [24]:
te_x.shape

(5681, 9)

# Checking Dimensionality

In [25]:
tr_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [26]:
te_x.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
New_Type                     0
Market_Type                  0
dtype: int64

In [69]:
reg = em.GradientBoostingRegressor(n_estimators=300, learning_rate=0.01,max_depth=4, random_state=0, loss='ls')

# Regression Starts

In [70]:
reg.fit(tr_x,tr_y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='ls', max_depth=4, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=300, presort='auto', random_state=0,
             subsample=1.0, verbose=0, warm_start=False)

In [71]:
pred = reg.predict(te_x)

In [72]:
Item_Outlet_Sales = pred

In [73]:
#Sales is predicted and given as output in Outlet_sales
Item_Outlet_Sales

array([1697.62201502, 1401.74388169,  632.80922213, ..., 1913.75432298,
       3481.18186502, 1332.43026978])

In [74]:
Submit = pd.read_csv("SS.csv")

In [75]:
import random
Item_Outlet_Sales.shape

(5681,)

In [76]:
print(Submit.columns)
Submit.head()
Submit.shape

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'], dtype='object')

(5681, 3)

In [77]:
Final = Submit.iloc[0:5681,0:2]
Final.head(2)

  Item_Identifier Outlet_Identifier
0           FDW58            OUT049
1           FDW14            OUT017

In [78]:
Sales = pd.DataFrame({'Item_Identifier':Final.Item_Identifier.values,'Item_Outlet_Sales':Item_Outlet_Sales,'Outlet_Identifier':Final.Outlet_Identifier.values})
Sales

     Item_Identifier  Item_Outlet_Sales Outlet_Identifier
0              FDW58        1697.622015            OUT049
1              FDW14        1401.743882            OUT017
2              NCN55         632.809222            OUT010
3              FDQ58        2463.778649            OUT017
4              FDY38        5925.268649            OUT027
5              FDH56        1912.381038            OUT046
6              FDL48         768.220021            OUT018
7              FDC48        2202.535244            OUT027
8              FDN33        1558.639654            OUT045
9              FDA36        3121.744063            OUT017
10             FDT44        1912.381038            OUT017
11             FDQ56        1401.743882            OUT045
12             NCC54         863.129009            OUT019
13             FDU11        2043.211258            OUT049
14             DRL59         837.154193            OUT013
15             FDM24        2452.279873            OUT049
16             FDI57        3112.832680            OUT045
17             DRC12        2866.515582            OUT018
18             NCM42        2725.086987            OUT027
19             FDA46         567.953771            OUT010
20             FDA31        2851.847677            OUT013
21             NCJ31        3812.495107            OUT035
22             FDG52         841.056551            OUT046
23             NCL19         426.627362            OUT019
24             FDS10        2930.919192            OUT035
25             FDX22         618.376149            OUT010
26             NCF19         842.339702            OUT035
27             NCE06        2605.456776            OUT046
28             DRC27        3862.844916            OUT046
29             FDE21        1924.021094            OUT035
...              ...                ...               ...
5651           FDD23        3119.882759            OUT013
5652           FDP32        2068.663060            OUT045
5653           FDO31        1334.373824            OUT035
5654           FDQ57        2460.919980            OUT013
5655           FDX32        3716.816541            OUT027
5656           FDC39        5342.118395            OUT027
5657           FDU55        3989.117738            OUT046
5658           FDL45        2048.815069            OUT013
5659           DRK37        3121.744063            OUT049
5660           FDK22        3472.419384            OUT013
5661           DRG37        3748.553066            OUT027
5662           FDK22        3477.407281            OUT017
5663           DRH36        1111.165044            OUT018
5664           DRC36        2668.155520            OUT018
5665           DRE03        1094.106734            OUT027
5666           FDF34        3119.882759            OUT046
5667           FDZ22        1384.141101            OUT046
5668           FDC44         375.479301            OUT010
5669           FDN31        4973.688463            OUT027
5670           FDO03        3800.531910            OUT017
5671           FDA01        1004.028050            OUT049
5672           NCH42        3797.405317            OUT049
5673           FDF46        1724.426841            OUT018
5674           DRL35         765.148673            OUT046
5675           FDW46        1085.969146            OUT049
5676           FDB58        2186.894655            OUT046
5677           FDD47        2538.554817            OUT018
5678           NCO17        1913.754323            OUT045
5679           FDJ26        3481.181865            OUT017
5680           FDU37        1332.430270            OUT045

[5681 rows x 3 columns]

In [79]:
Sales.to_csv("Martsales.csv", encoding='utf-8')

# End of Program