In [60]:
import pandas as pd
import numpy as np

In [61]:
data = pd.read_csv('ETFs.csv')

In [62]:
data['treynor_ratio_3y_1'] = pd.to_numeric(data.treynor_ratio_3y, errors='coerce' )

In [63]:
data.shape

(2105, 48)

In [64]:
result = data.iloc[:,47:48]
result

      treynor_ratio_3y_1
0                  15.21
1                   5.54
2                   8.75
3                   0.00
4                   0.00
5                  10.25
6                   8.44
7                  12.93
8                   3.94
9                   4.47
10                  0.95
11                  5.77
12                  0.87
13                 -2.20
14                  0.01
15                 -1.49
16                 -3.54
17                 -3.94
18                  0.63
19                  0.00
20                  0.00
21                  0.00
22                 -0.10
23                 -8.65
24                  0.00
25                  0.31
26                 -7.04
27                  8.37
28                  0.00
29                 12.65
...                  ...
2075               20.46
2076                6.53
2077               17.34
2078               12.16
2079                0.00
2080                8.13
2081                9.50
2082                0.00
2083             -218.49
2084                0.00
2085              196.03
2086                7.91
2087                4.12
2088               -1.03
2089               -1.28
2090                1.43
2091                0.00
2092               -3.52
2093               -3.55
2094                0.00
2095                0.00
2096               -4.14
2097              -12.17
2098                5.73
2099                2.72
2100                0.00
2101              -36.02
2102               -9.14
2103                0.45
2104              -16.65

[2105 rows x 1 columns]

In [59]:
data = data.iloc[:,3:47]
data.head()

,total_net_assets,currency,legal_type,net_annual_expenses,portfolio_stocks,portfolio_bonds,sectors_basic_materials,sectors_consumer_cyclical,sectors_financial_services,sectors_real_estate,...,returns_2013,returns_2012,returns_2011,returns_2010,alpha_3y,beta_3y,mean_annual_return_3y,standard_deviation_3y,sharpe_ratio_3y,treynor_ratio_3y
0,2.609800e+08,USD,Exchange Traded Fund,1.25,99.10,0.00,12.69,12.18,10.07,0.00,...,20.88,12.65,-5.81,NaN,8.96,0.84,1.13,13.25,0.98,15.21
1,4.760000e+09,USD,Exchange Traded Fund,0.70,98.73,0.00,5.12,12.52,22.94,6.19,...,2.48,21.39,-20.01,15.53,1.89,1.10,0.65,15.34,0.46,5.54
2,1.019700e+08,USD,Exchange Traded Fund,0.25,98.48,0.46,5.67,11.65,17.63,3.48,...,23.46,NaN,NaN,NaN,3.66,0.83,0.69,10.69,0.71,8.75
3,5.179000e+07,USD,Exchange Traded Fund,0.65,99.73,0.00,0.50,28.55,16.34,0.46,...,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0
4,1.267000e+07,USD,Exchange Traded Fund,0.00,99.94,0.00,1.29,9.88,0.00,0.00,...,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0

In [32]:
data.isnull().sum()

fund_symbol                          0
fund_name                            0
category                           161
fund_family                          0
investment                         705
size                               705
total_net_assets                     0
currency                             0
legal_type                           0
net_annual_expenses                  2
portfolio_stocks                     1
portfolio_bonds                      1
sectors_basic_materials              1
sectors_consumer_cyclical            1
sectors_financial_services           1
sectors_real_estate                  1
sectors_consumer_defensive           1
sectors_healthcare                   1
sectors_utilities                    1
sectors_communication_services       1
sectors_energy                       1
sectors_industrials                  1
sectors_technology                   1
price_earning                        1
bonds_us_government                  1
bonds_aaa                            3
bonds_aa                             1
bonds_a                              1
bonds_bbb                            1
bonds_bb                             1
bonds_b                              1
bonds_others                         1
returns_ytd                         75
returns_2017                       341
returns_2016                       551
returns_2015                       754
returns_2014                       902
returns_2013                      1021
returns_2012                      1131
returns_2011                      1257
returns_2010                      1389
alpha_3y                           123
beta_3y                            123
mean_annual_return_3y              123
standard_deviation_3y              123
sharpe_ratio_3y                    123
dtype: int64

In [49]:
data.dtypes

fund_symbol                        object
fund_name                          object
category                           object
fund_family                        object
investment                        float64
size                              float64
total_net_assets                  float64
currency                           object
legal_type                          int64
net_annual_expenses               float64
portfolio_stocks                  float64
portfolio_bonds                   float64
sectors_basic_materials           float64
sectors_consumer_cyclical         float64
sectors_financial_services        float64
sectors_real_estate               float64
sectors_consumer_defensive        float64
sectors_healthcare                float64
sectors_utilities                 float64
sectors_communication_services    float64
sectors_energy                    float64
sectors_industrials               float64
sectors_technology                float64
price_earning                     float64
bonds_us_government               float64
bonds_aaa                         float64
bonds_aa                          float64
bonds_a                           float64
bonds_bbb                         float64
bonds_bb                          float64
bonds_b                           float64
bonds_others                      float64
returns_ytd                       float64
returns_2017                      float64
returns_2016                      float64
returns_2015                      float64
returns_2014                      float64
returns_2013                      float64
returns_2012                      float64
returns_2011                      float64
returns_2010                      float64
alpha_3y                          float64
beta_3y                           float64
mean_annual_return_3y             float64
standard_deviation_3y             float64
sharpe_ratio_3y                   float64
dtype: object

In [52]:
data = data.iloc[:,:47]
data.head()

,total_net_assets,currency,legal_type,net_annual_expenses,portfolio_stocks,portfolio_bonds,sectors_basic_materials,sectors_consumer_cyclical,sectors_financial_services,sectors_real_estate,...,returns_2014,returns_2013,returns_2012,returns_2011,returns_2010,alpha_3y,beta_3y,mean_annual_return_3y,standard_deviation_3y,sharpe_ratio_3y
0,2.609800e+08,USD,1,1.25,99.10,0.00,12.69,12.18,10.07,0.00,...,-0.83,20.88,12.65,-5.81,NaN,8.96,0.84,1.13,13.25,0.98
1,4.760000e+09,USD,1,0.70,98.73,0.00,5.12,12.52,22.94,6.19,...,3.93,2.48,21.39,-20.01,15.53,1.89,1.10,0.65,15.34,0.46
2,1.019700e+08,USD,1,0.25,98.48,0.46,5.67,11.65,17.63,3.48,...,5.71,23.46,NaN,NaN,NaN,3.66,0.83,0.69,10.69,0.71
3,5.179000e+07,USD,1,0.65,99.73,0.00,0.50,28.55,16.34,0.46,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00
4,1.267000e+07,USD,1,0.00,99.94,0.00,1.29,9.88,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00