In [38]:
import pandas as pd
import numpy as np
from sklearn import ensemble as en
from sklearn.model_selection import train_test_split as tts
from sklearn.neural_network import MLPClassifier as MLC
import matplotlib.pyplot as plt
import tensorflow
#importing the dataset and loading it
fifa = pd.read_csv("FIFA.csv")
from collections import Counter

In [39]:
fifa.isnull().sum()
fifa.shape
Counter(fifa.Round)

Counter({'3rd Place': 2,
         'Final': 2,
         'Group Stage': 96,
         'Quarter Finals': 8,
         'Round of 16': 16,
         'Semi- Finals': 4})

In [40]:
fifa.Round.replace('3rd Place',3,inplace = True)
fifa.Round.replace('Final',1,inplace = True)
fifa.Round.replace('Group Stage',3,inplace = True)
fifa.Round.replace('Quarter Finals',3,inplace = True)
fifa.Round.replace('Round of 16',3,inplace = True)
fifa.Round.replace('Semi- Finals',3,inplace = True)

In [41]:
fifa.FirstGoal.fillna(np.mean(fifa.FirstGoal),inplace=True)
fifa.isnull().sum()
fifa = fifa.iloc[:,0:25]
fifa.dtypes

Date                 object
Team                 object
Opponent             object
GoalScored            int64
BallPossession %      int64
Attempts              int64
On-Target             int64
Off-Target            int64
Blocked               int64
Corners               int64
Offsides              int64
FreeKicks             int64
Saves                 int64
PassAccuracy %        int64
Passes                int64
DistanceCovered       int64
FoulsCommitted        int64
YellowCard            int64
Yellow Red            int64
Red                   int64
FirstGoal           float64
Round                 int64
PSO                  object
GoalsinPSO            int64
ManoftheMatch        object
dtype: object

In [42]:
fifa.head()

,Date,Team,Opponent,GoalScored,BallPossession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,DistanceCovered,FoulsCommitted,YellowCard,Yellow Red,Red,FirstGoal,Round,PSO,GoalsinPSO,ManoftheMatch
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,118,22,0,0,0,12.000000,3,No,0,Yes
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,105,10,0,0,0,39.457447,3,No,0,No
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,112,12,2,0,0,39.457447,3,No,0,No
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,111,6,0,0,0,89.000000,3,No,0,Yes
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,101,22,1,0,0,39.457447,3,No,0,No

In [43]:
fifa.ManoftheMatch.replace('Yes',1,inplace=True)
fifa.ManoftheMatch.replace('No',0,inplace=True)
fifa.PSO.replace('Yes',1,inplace=True)
fifa.PSO.replace('No',0,inplace=True)

In [44]:
fifa.dtypes

Date                 object
Team                 object
Opponent             object
GoalScored            int64
BallPossession %      int64
Attempts              int64
On-Target             int64
Off-Target            int64
Blocked               int64
Corners               int64
Offsides              int64
FreeKicks             int64
Saves                 int64
PassAccuracy %        int64
Passes                int64
DistanceCovered       int64
FoulsCommitted        int64
YellowCard            int64
Yellow Red            int64
Red                   int64
FirstGoal           float64
Round                 int64
PSO                   int64
GoalsinPSO            int64
ManoftheMatch         int64
dtype: object

In [45]:
df_x = fifa.iloc[:,3:24]
df_y = fifa.iloc[:,24:25]

In [46]:
df_y

     ManoftheMatch
0                1
1                0
2                0
3                1
4                0
5                1
6                0
7                1
8                1
9                0
10               0
11               1
12               0
13               1
14               1
15               0
16               0
17               1
18               1
19               0
20               1
21               0
22               1
23               0
24               1
25               0
26               0
27               1
28               0
29               1
..             ...
98               1
99               0
100              0
101              1
102              1
103              0
104              1
105              0
106              1
107              0
108              1
109              0
110              0
111              1
112              0
113              1
114              0
115              1
116              0
117              1
118              0
119              1
120              1
121              0
122              1
123              0
124              1
125              0
126              1
127              0

[128 rows x 1 columns]

In [30]:
mlc = MLC(solver='sgd', hidden_layer_sizes=(6,2), alpha=.0001, activation='relu')

In [47]:
x_tr,x_te,y_tr,y_te = tts(df_x,df_y,test_size=.3,random_state=525)

In [48]:
reg = en.GradientBoostingClassifier()

In [49]:
mlc.fit(x_tr,y_tr)

NameError: name 'mlc' is not defined

In [50]:
reg.fit(x_tr,y_tr)

C:\Users\Vishnu\Anaconda3\envs\py35\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [51]:
pred = reg.predict(x_te)

In [52]:
pred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1], dtype=int64)

In [53]:
y_te.iloc[:,0:1]

     ManoftheMatch
7                1
13               1
98               1
52               1
74               0
79               0
106              1
104              1
108              1
93               1
70               0
99               0
125              0
50               0
121              0
59               0
62               0
61               1
72               0
42               1
101              1
68               1
123              0
2                0
19               0
5                1
102              1
89               1
27               1
53               0
110              0
28               0
113              1
127              0
33               0
1                0
117              1
86               1
8                1

In [54]:
test = np.array(y_te.iloc[:,0:1])

In [55]:
pred = np.transpose(pred)

In [56]:
print(test.shape)
pred = np.transpose(pred) 
print(pred.shape)

(39, 1)
(39,)

In [57]:
test = np.transpose(test)

In [90]:
test = np.array(test)

In [92]:
test.dtype

dtype('int64')

In [59]:
pred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1], dtype=int64)

In [105]:
error = test - pred

In [106]:
count=0;
array = (pred)==(test)

In [107]:
print(Counter(pred)) 
Counter(y_te.ManoftheMatch)

Counter({1: 23, 0: 16})

Counter({0: 19, 1: 20})

In [116]:
Accuracy = 20/23

In [117]:
Accuracy

0.8695652173913043

In [110]:
avg = np.mean(y_te)
avg

ManoftheMatch    0.512821
dtype: float64

In [114]:
SSM = np.sum((y_te-avg)**2)
SSM

ManoftheMatch    9.74359
dtype: float64

In [115]:
SSE = np.sum((error)**2)
SSE

11

In [113]:
SSM/SSE

ManoftheMatch    0.885781
dtype: float64