In [1]:
import pandas as pd 
import numpy as np

In [2]:
Train = pd.read_csv('B_Train.csv')

In [3]:
Train.shape

(185643, 10)

In [4]:
Train.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score
0,6.5,8929,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",15121,22,AmericanIPA,40-45,45-50,3.28
1,5.5,13187,"(PanAsian)Cheese(earthyCamembert,Fontina,nutty...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",59817,1,AmericanPaleAle(APA),35-40,40-45,3.52
2,8.1,6834,"Meat(Pork,Poultry)","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",32669,3,IrishRedAle,35-40,40-45,4.01
3,NaN,11688,"(Indian,LatinAmerican,PanAsian)General(Aperitif)","PintGlass(orBecker,Nonic,Tumbler),PilsenerGlas...",130798,0,AmericanMaltLiquor,35-40,35-40,0.00
4,6.0,10417,"Meat(Poultry,Fish,Shellfish)",PilsenerGlass(orPokal),124087,1,EuroPaleLager,35-40,40-45,2.73

In [5]:
Train.isnull().sum()

ABV                    15130
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature      6781
Serving Temperature      193
Score                      0
dtype: int64

In [6]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring             object
Glassware Used          object
Beer Name                int64
Ratings                 object
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
dtype: object

In [7]:
Train['Ratings'] = pd.to_numeric(Train['Ratings'], errors='coerce')

In [8]:
Train['Cellar Temperature'].value_counts()

40-45    95108
35-40    48049
45-50    35705
Name: Cellar Temperature, dtype: int64

In [9]:
Train['Serving Temperature'].value_counts()

45-50    113380
40-45     46670
50-55     24089
35-40      1311
Name: Serving Temperature, dtype: int64

In [10]:
Train['Cellar Temperature'].replace('40-45',1,inplace=True)
Train['Cellar Temperature'].replace('45-50',2,inplace=True)
Train['Cellar Temperature'].replace('35-40',0,inplace=True)

In [11]:
#converting the same for serving temp
Train['Serving Temperature'].replace('35-40',0,inplace=True)
Train['Serving Temperature'].replace('40-45',1,inplace=True)
Train['Serving Temperature'].replace('45-50',2,inplace=True)
Train['Serving Temperature'].replace('50-55',3,inplace=True)

In [12]:
Train.isnull().sum()

ABV                    15130
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                 1108
Style Name                 0
Cellar Temperature      6781
Serving Temperature      193
Score                      0
dtype: int64

In [13]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring             object
Glassware Used          object
Beer Name                int64
Ratings                float64
Style Name              object
Cellar Temperature     float64
Serving Temperature    float64
Score                  float64
dtype: object

In [14]:
Train['Food Paring'] = Train['Food Paring'].astype('category')

In [15]:
Train['Style Name'] = Train['Style Name'].astype('category')
Train['Glassware Used'] = Train['Glassware Used'].astype('category')

In [16]:
cat_columns = Train.select_dtypes(['category']).columns

In [17]:
Train[cat_columns] = Train[cat_columns].apply(lambda x : x.cat.codes)

In [18]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring               int8
Glassware Used            int8
Beer Name                int64
Ratings                float64
Style Name                int8
Cellar Temperature     float64
Serving Temperature    float64
Score                  float64
dtype: object

In [19]:
Train.isnull().sum()

ABV                    15130
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                 1108
Style Name                 0
Cellar Temperature      6781
Serving Temperature      193
Score                      0
dtype: int64

In [20]:
Train['ABV'].fillna(pd.DataFrame.mean(Train['ABV']),inplace=True)
Train['Ratings'].fillna(method='ffill',inplace=True)
Train['Cellar Temperature'].fillna(pd.DataFrame.mean(Train['Cellar Temperature']),inplace=True)
Train['Serving Temperature'].fillna(pd.DataFrame.mean(Train['Serving Temperature']),inplace=True)

In [21]:
Train['Food Paring'].fillna(pd.DataFrame.mean(Train['Food Paring']),inplace=True)

In [22]:
Train.isnull().sum()

ABV                    0
Brewing Company        0
Food Paring            0
Glassware Used         0
Beer Name              0
Ratings                0
Style Name             0
Cellar Temperature     0
Serving Temperature    0
Score                  0
dtype: int64

In [23]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring               int8
Glassware Used            int8
Beer Name                int64
Ratings                float64
Style Name                int8
Cellar Temperature     float64
Serving Temperature    float64
Score                  float64
dtype: object

In [24]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression as LR

In [25]:
abs(Train.corr().iloc[:,9:10])

                        Score
ABV                  0.130498
Brewing Company      0.013695
Food Paring          0.056923
Glassware Used       0.043118
Beer Name            0.006493
Ratings              0.112402
Style Name           0.062793
Cellar Temperature   0.117250
Serving Temperature  0.125596
Score                1.000000

In [44]:
from sklearn.ensemble import RandomForestRegressor as RFR

In [45]:
from sklearn.cross_validation import train_test_split as tts

In [46]:
Features = Train.iloc[:,0:9]
Result = Train.iloc[:,9:10]

In [47]:
RFR = RFR(n_estimators=14)
rfe = RFE(RFR,5)
fit = rfe.fit(Features,Result)

C:\Users\Vishnu\Anaconda3\envs\py35\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [48]:
fit.support_

array([ True,  True,  True, False,  True,  True, False, False, False])

In [49]:
fit.ranking_

array([1, 1, 1, 4, 1, 1, 3, 2, 5])

In [51]:
Features.columns

Index(['ABV', 'Brewing Company', 'Food Paring', 'Glassware Used', 'Beer Name',
       'Ratings', 'Style Name', 'Cellar Temperature', 'Serving Temperature'],
      dtype='object')

In [52]:
Features.drop(['Glassware Used'],axis=1,inplace=True)
Features.drop(['Style Name'],axis=1,inplace=True)
Features.drop(['Serving Temperature'],axis=1,inplace=True)

In [53]:
xtr, xte, ytr, yte = tts(Features, Result, test_size=.3, random_state=255)

In [54]:
RFR.fit(xtr,ytr)

C:\Users\Vishnu\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=14, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [55]:
RFR.score(xte,yte)

0.9213721374625673

In [56]:
pred1 = RFR.predict(xte)

In [57]:
Test = pd.read_csv('btest.csv')

In [58]:
Test.drop(['Unnamed: 0'],axis=1,inplace=True)

In [60]:
Test.drop(['Glassware Used'],axis=1,inplace=True)
Test.drop(['Style Name'],axis=1,inplace=True)
Test.drop(['Serving Temperature'],axis=1,inplace=True)

In [61]:
Pred = RFR.predict(Test)

In [62]:
Output = pd.DataFrame(Pred)

In [72]:
Output.to_csv('Output.csv',encoding='utf-8')

In [63]:
Output

              0
0      3.792143
1      3.859286
2      0.330000
3      3.617143
4      3.826429
5      3.940000
6      3.612143
7      3.313571
8      3.642143
9      3.682857
10     3.438571
11     4.000714
12     3.992857
13     3.501429
14     3.415714
15     3.499286
16     3.846429
17     3.630714
18     3.464286
19     3.519286
20     4.029286
21     3.566429
22     3.813571
23     3.619286
24     3.773571
25     3.910000
26     3.715714
27     3.592143
28     3.873571
29     0.000000
...         ...
20598  4.060000
20599  3.977143
20600  3.718571
20601  3.860000
20602  4.215000
20603  3.829286
20604  3.632857
20605  3.766429
20606  2.785714
20607  3.502143
20608  0.000000
20609  3.967143
20610  0.000000
20611  0.000000
20612  3.635000
20613  3.410000
20614  3.821429
20615  3.563571
20616  3.871429
20617  3.785000
20618  3.544286
20619  3.683571
20620  4.002857
20621  3.642143
20622  3.910000
20623  0.000000
20624  3.550000
20625  4.011429
20626  3.901429
20627  3.820000

[20628 rows x 1 columns]

In [64]:
def RMSE(x,y):
    return np.sqrt(np.mean((x-y)**2))

In [65]:
pred2 = np.array(yte['Score'])

In [67]:
RMSE(pred1,pred2)

0.38224076815913893

In [68]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [70]:
a = sqrt(mean_squared_error(pred1,pred2))

In [71]:
1-a

0.6177592318408611