In [1]:
import pandas as pd 
import numpy as np

In [2]:
Train = pd.read_csv('B_Test.csv')

In [3]:
Train.shape

(20628, 10)

In [4]:
Train.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score
0,6.2,8803,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",34558,3,AmericanIPA,40-45,45-50,NaN
1,5.3,8558,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",86826,20,AmericanPorter,40-45,45-50,NaN
2,7.0,7519,"Cheese(earthyCamembert,Fontina)General(Aperitif)","Snifter,Tulip,OversizedWineGlass",17051,0,BelgianDarkAle,45-50,45-50,NaN
3,5.2,9852,"(LatinAmerican,German)Meat(Pork,Poultry)","Flute,PilsenerGlass(orPokal),Mug(orSeidel,Stein)",49156,2,ViennaLager,35-40,40-45,NaN
4,8.1,8991,"(Barbecue)Cheese(butteryBrie,Gouda,Havarti,Swi...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",162723,5,AmericanPorter,40-45,45-50,NaN

In [5]:
Train.isnull().sum()

ABV                     1664
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature       755
Serving Temperature       21
Score                  20628
dtype: int64

In [6]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring             object
Glassware Used          object
Beer Name                int64
Ratings                 object
Style Name              object
Cellar Temperature      object
Serving Temperature     object
Score                  float64
dtype: object

In [7]:
Train['Ratings'] = pd.to_numeric(Train['Ratings'], errors='coerce')

In [8]:
Train['Cellar Temperature'].value_counts()

40-45    10570
35-40     5336
45-50     3967
Name: Cellar Temperature, dtype: int64

In [9]:
Train['Serving Temperature'].value_counts()

45-50    12599
40-45     5184
50-55     2679
35-40      145
Name: Serving Temperature, dtype: int64

In [10]:
Train['Cellar Temperature'].replace('40-45',1,inplace=True)
Train['Cellar Temperature'].replace('45-50',2,inplace=True)
Train['Cellar Temperature'].replace('35-40',0,inplace=True)

In [11]:
#converting the same for serving temp
Train['Serving Temperature'].replace('35-40',0,inplace=True)
Train['Serving Temperature'].replace('40-45',1,inplace=True)
Train['Serving Temperature'].replace('45-50',2,inplace=True)
Train['Serving Temperature'].replace('50-55',3,inplace=True)

In [12]:
Train.isnull().sum()

ABV                     1664
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                  139
Style Name                 0
Cellar Temperature       755
Serving Temperature       21
Score                  20628
dtype: int64

In [13]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring             object
Glassware Used          object
Beer Name                int64
Ratings                float64
Style Name              object
Cellar Temperature     float64
Serving Temperature    float64
Score                  float64
dtype: object

In [14]:
Train['Food Paring'] = Train['Food Paring'].astype('category')
Train['Style Name'] = Train['Style Name'].astype('category')
Train['Glassware Used'] = Train['Glassware Used'].astype('category')

In [15]:
cat_columns = Train.select_dtypes(['category']).columns

In [16]:
Train[cat_columns] = Train[cat_columns].apply(lambda x : x.cat.codes)

In [17]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring               int8
Glassware Used            int8
Beer Name                int64
Ratings                float64
Style Name                int8
Cellar Temperature     float64
Serving Temperature    float64
Score                  float64
dtype: object

In [18]:
Train.drop(['Score'],axis=1,inplace=True)

In [19]:
Train.isnull().sum()

ABV                    1664
Brewing Company           0
Food Paring               0
Glassware Used            0
Beer Name                 0
Ratings                 139
Style Name                0
Cellar Temperature      755
Serving Temperature      21
dtype: int64

In [21]:
Train.shape

(18129, 9)

In [27]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring               int8
Glassware Used            int8
Beer Name                int64
Ratings                float64
Style Name                int8
Cellar Temperature     float64
Serving Temperature    float64
dtype: object

In [20]:
Train['ABV'].fillna(pd.DataFrame.mean(Train['ABV']),inplace=True)
Train['Ratings'].fillna(method='ffill',inplace=True)
Train['Cellar Temperature'].fillna(pd.DataFrame.mean(Train['Cellar Temperature']),inplace=True)
Train['Serving Temperature'].fillna(pd.DataFrame.mean(Train['Serving Temperature']),inplace=True)

In [21]:
Train.isnull().sum()

ABV                    0
Brewing Company        0
Food Paring            0
Glassware Used         0
Beer Name              0
Ratings                0
Style Name             0
Cellar Temperature     0
Serving Temperature    0
dtype: int64

In [22]:
Train.dtypes

ABV                    float64
Brewing Company          int64
Food Paring               int8
Glassware Used            int8
Beer Name                int64
Ratings                float64
Style Name                int8
Cellar Temperature     float64
Serving Temperature    float64
dtype: object

In [23]:
Train.to_csv('btest.csv',encoding='utf-8')