In [30]:
import pandas as pd
import numpy as np
import sklearn.ensemble as en
import sklearn.neural_network as nn
import matplotlib.pyplot as plt
from collections import Counter as Cn
from sklearn.cross_validation import train_test_split as tts

In [2]:
data = pd.read_csv('Movies.csv')

In [26]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue,Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [82]:
df_y = data.iloc[:,0:1]
df_x = data.iloc[:,6:12]
R = df_x.Revenue.isnull() 
print(R.sum())
Y = df_x.Metascore.isnull()
print(Y.sum())
Z = R.values.reshape((1000,1))
Z.shape
M = Y.values.reshape((1000,1))
print(M.shape)
M[11]

128
64
(1000, 1)

array([False])

In [91]:
Meta = np.zeros((1000,1))
Rev  = np.zeros((1000,1))
for i in range(M.shape[0]):
    if M[i] == True:
        Meta[i] = i
    else:
        Meta[i] = 0

In [80]:
df_x[df_x.Revenue == 138.12]

   Year  Runtime  Rating   Votes  Revenue  Metascore
2  2016      117     7.3  157606   138.12       62.0