In [1]:
import string
from nltk.corpus import stopwords

In [2]:
stopwords.words("english")[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [3]:
sent = "I am the one who knocks, One batch two batch penny and dime, The things I do for love"

In [4]:
#eliminate character in form of punctuation and print them
no_punct = [char for char in sent if char not in string.punctuation]

In [5]:
#printing without punctuation
no_punct = ''.join(no_punct)
no_punct

'I am the one who knocks One batch two batch penny and dime The things I do for love'

In [6]:
no_punct.split()

['I',
 'am',
 'the',
 'one',
 'who',
 'knocks',
 'One',
 'batch',
 'two',
 'batch',
 'penny',
 'and',
 'dime',
 'The',
 'things',
 'I',
 'do',
 'for',
 'love']

In [7]:
#Removal of stopwords
Clean_sent = [word for word in no_punct.split() if word.lower() not in stopwords.words('english')]

In [8]:
Clean_sent

['one',
 'knocks',
 'One',
 'batch',
 'two',
 'batch',
 'penny',
 'dime',
 'things',
 'love']

In [9]:
import pandas as pd
import numpy as np

In [10]:
data= pd.read_csv('Stock.csv')

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
vectorizer = CountVectorizer()

In [13]:
data_1 = 'Good weather is what I need now'
data_2 = 'You should be like him, I hate you'
data_3 = 'My girlfriend says the above everytime'

In [14]:
data_list = [data_1,data_2,data_3]

In [15]:
bagofWords = vectorizer.fit(data_list)
bagofWords = vectorizer.transform(data_list)

In [16]:
BGW_1 = vectorizer.fit(data.text)

In [17]:
BGW_1 = vectorizer.transform(data.text)

In [18]:
print(BGW_1)

  (0, 10166)	1
  (0, 11690)	1
  (0, 13087)	1
  (0, 18862)	1
  (0, 19542)	2
  (0, 20136)	1
  (0, 20315)	1
  (0, 21199)	1
  (0, 21462)	1
  (0, 24545)	1
  (0, 26583)	1
  (0, 27346)	2
  (0, 29091)	1
  (0, 29897)	1
  (0, 32186)	1
  (0, 35968)	1
  (0, 37522)	1
  (0, 40501)	1
  (0, 41243)	1
  (0, 41349)	2
  (1, 2035)	1
  (1, 11690)	1
  (1, 14136)	1
  (1, 19369)	1
  (1, 19792)	1
  :	:
  (28437, 37517)	1
  (28438, 1757)	1
  (28438, 10045)	1
  (28438, 11690)	2
  (28438, 16264)	1
  (28438, 20315)	2
  (28438, 45122)	1
  (28438, 45160)	1
  (28438, 45229)	1
  (28438, 45287)	1
  (28439, 2270)	1
  (28439, 9259)	1
  (28439, 11690)	1
  (28439, 17281)	1
  (28439, 20315)	1
  (28439, 21730)	1
  (28439, 24837)	1
  (28439, 28305)	1
  (28439, 29486)	1
  (28439, 31456)	1
  (28439, 33354)	1
  (28439, 36428)	1
  (28439, 37913)	1
  (28439, 38642)	1
  (28439, 42872)	1

In [38]:
print(bagofWords)

  (0, 4)	1
  (0, 7)	1
  (0, 10)	1
  (0, 11)	1
  (0, 15)	1
  (0, 16)	1
  (1, 1)	1
  (1, 5)	1
  (1, 6)	1
  (1, 8)	1
  (1, 13)	1
  (1, 17)	2
  (2, 0)	1
  (2, 2)	1
  (2, 3)	1
  (2, 9)	1
  (2, 12)	1
  (2, 14)	1

In [40]:
print(vectorizer.vocabulary_.get('bag'))

None

In [20]:
comments = pd.read_csv('Comments.csv')
comments.head()

,articleID,articleWordCount,byline,documentType,headline,keywords,multimedia,newDesk,printPage,pubDate,sectionName,snippet,source,typeOfMaterial,webURL
0,5adf6684068401528a2aa69b,781,By JOHN BRANCH,article,Former N.F.L. Cheerleaders’ Settlement Offer: ...,"['Workplace Hazards and Violations', 'Football...",68,Sports,0,2018-04-24 17:16:49,Pro Football,"“I understand that they could meet with us, pa...",The New York Times,News,https://www.nytimes.com/2018/04/24/sports/foot...
1,5adf653f068401528a2aa697,656,By LISA FRIEDMAN,article,E.P.A. to Unveil a New Rule. Its Effect: Less ...,"['Environmental Protection Agency', 'Pruitt, S...",68,Climate,0,2018-04-24 17:11:21,Unknown,The agency plans to publish a new regulation T...,The New York Times,News,https://www.nytimes.com/2018/04/24/climate/epa...
2,5adf4626068401528a2aa628,2427,By PETE WELLS,article,"The New Noma, Explained","['Restaurants', 'Noma (Copenhagen, Restaurant)...",66,Dining,0,2018-04-24 14:58:44,Unknown,What’s it like to eat at the second incarnatio...,The New York Times,News,https://www.nytimes.com/2018/04/24/dining/noma...
3,5adf40d2068401528a2aa619,626,By JULIE HIRSCHFELD DAVIS and PETER BAKER,article,Unknown,"['Macron, Emmanuel (1977- )', 'Trump, Donald J...",68,Washington,0,2018-04-24 14:35:57,Europe,President Trump welcomed President Emmanuel Ma...,The New York Times,News,https://www.nytimes.com/2018/04/24/world/europ...
4,5adf3d64068401528a2aa60f,815,By IAN AUSTEN and DAN BILEFSKY,article,Unknown,"['Toronto, Ontario, Attack (April, 2018)', 'Mu...",68,Foreign,0,2018-04-24 14:21:21,Canada,"Alek Minassian, 25, a resident of Toronto’s Ri...",The New York Times,News,https://www.nytimes.com/2018/04/24/world/canad...

In [21]:
BGW_NY = vectorizer.fit(comments.keywords)

In [28]:
BGW_NY = vectorizer.transform(comments.keywords)
print(BGW_NY)

  (0, 235)	1
  (0, 384)	1
  (0, 792)	1
  (0, 1076)	1
  (0, 1162)	1
  (0, 1468)	2
  (0, 1614)	1
  (0, 1702)	1
  (0, 1722)	1
  (0, 2240)	1
  (0, 2737)	1
  (0, 3356)	1
  (0, 3529)	1
  (0, 4035)	1
  (0, 4179)	1
  (1, 153)	1
  (1, 235)	1
  (1, 1320)	1
  (1, 1621)	1
  (1, 3056)	1
  (1, 3148)	1
  (1, 3154)	1
  (1, 3287)	1
  (1, 3475)	1
  (1, 3694)	1
  :	:
  (1322, 3839)	1
  (1322, 3877)	1
  (1323, 219)	1
  (1323, 235)	2
  (1323, 372)	3
  (1323, 398)	1
  (1323, 615)	1
  (1323, 806)	1
  (1323, 1040)	1
  (1323, 1091)	1
  (1323, 1517)	1
  (1323, 1595)	1
  (1323, 1709)	1
  (1323, 1804)	1
  (1323, 2240)	1
  (1323, 2519)	1
  (1323, 3030)	5
  (1323, 3079)	1
  (1323, 3668)	1
  (1323, 3675)	1
  (1323, 3838)	2
  (1323, 3839)	3
  (1323, 3884)	1
  (1323, 4046)	1
  (1323, 4150)	1

In [34]:
print(vectorizer.vocabulary_.get('Hazards'))

None

In [31]:
type(BGW_NY)

scipy.sparse.csr.csr_matrix

In [41]:
from pprint import pprint
from time import time

In [46]:
data_s = pd.read_csv('spam.csv', encoding='latin-1')

In [50]:
data_req = pd.DataFrame({'Class' : data_s.v1, 'Message' : data_s.v2})

In [52]:
data_req.head()

  Class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...